/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет контактов в футере rgba(255, 255, 255, 0.60) */
/* белый цвет #FFFFFF */
/* черный цвет лого в хедере  #000000 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* третий цвет фона #2F303A */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: #FFFFFF; 
}

.list {
    list-style: none;
}

.descr {
    font-size: 14px;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

/* лого */
.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.logo .accent {
    color: var( --accent-color);
}
.logo.logo-footer {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
/* site nav*/
.site-nav .link {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .current {
    color: var(--accent-color);
}
.header-contacts .link {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.header-contacts .link:hover, 
.header-contacts .link:focus {
    color: var(--accent-color)
}
/* hero */
.hero .hero-title {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    background-color: #949393;   /* времено установил фон для визуализации потом удалю */
}
button.button {
    background-color: var(--accent-color);
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    cursor: pointer;
}

/* specification */
.specification .title {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
/* section */

.section .section-title {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}
.section .section-subtitle {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}
/* footer */
.footer-contacts .link{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.74; /* 171.429% */
    letter-spacing: 0.42px;
    background-color: #949393;  
    /* времено установил фон для визуализации потом удвлю */
 }
 .footer-contacts .link:hover,
 .footer-contacts .link:focus {
    color: var(--accent-color);
 }

 /* portfolio - nav */
 .portfolio-nav .link {
    color: #949393;   /* времено установил фон для визуализации должен быть #FFFFFF */
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.4;
    background-color: #F5F4FA;
 }
 .portfolio-nav .link:hover,
 .portfolio-nav .link:focus {
  background-color: var(--accent-color);

 }
 .portfolio-nav .title {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.00; /* 200% */
    letter-spacing: 1.08px;
    text-decoration: none;
 }
 .portfolio-nav .descr {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
    text-decoration: none;
 }
 .portfolio-nav .portfolio-link {
    text-decoration: none;
 }